<% if (userType === "sender") { %>
  <h1>Hola <%= data.sender.firstname %> <%= data.sender.lastname %>:</h1>
  <p>
    Hemos calculado tus índices con <%= data.recipient.firstname %> <%= data.recipient.lastname %> y 
    obtuviste los siguientes resultados:
  </p>
<% } %>

<% if (userType === "recipient") { %>
  <h1>Hola <%= data.recipient.firstname %> <%= data.recipient.lastname %>:</h1>
  <p>
    Hemos calculado tus índices con <%= data.sender.firstname %> <%= data.sender.lastname %> y 
    obtuviste los siguientes resultados:
  </p>
<% } %>

<ul>
  <li>siin: <%= data.results.siin %></li>
  <li>sidi: <%= data.results.sidi %></li>
  <li>dindin: <%= data.results.dindin %></li>
</ul>
